.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
  width: 40%;
  text-align: center;
}

.CardDiv {

  width: 30%;
  border: 1px solid black;
  margin: 1% auto;
  background:wheat;
}
/* write your parent styles in here for your App.js */
